1、提取BX-Users数据

In [1]:
import pandas as pd
import numpy as np
names=["User-ID","Location","Age"]
fime=pd.read_csv("BX-Users.csv",skiprows=[0],names=names)
#数据清洗
fime=fime.replace(" ",np.nan)     #替换空格符号
fime=fime.dropna(axis=0,how="any")   #删除含有空值行
#删除国家年龄为null的数据
fime=fime[~ fime['Age'].str.contains('NULL')]
fime

                   User-ID     Location                    Age
1              2;"stockton   california              usa";"18"
3                 4;"porto     v.n.gaia         portugal";"17"
5          6;"santa monica   california              usa";"61"
9             10;"albacete    wisconsin            spain";"26"
10           11;"melbourne     victoria        australia";"14"
...                    ...          ...                    ...
276261  278849;"georgetown      ontario           canada";"23"
276263      278851;"dallas        texas              usa";"33"
276264    278852;"brisbane   queensland        australia";"32"
276265   278853;"stranraer          n/a   united kingdom";"17"
276267      278855;"tacoma   washington   united kingdom";"50"

[165224 rows x 3 columns]

In [2]:
#BX-Book-Ratings.csv表数据
fime1=pd.read_csv("BX-Book-Ratings.csv",sep=";")
#fime1

#BX_Books.csv
fime2=pd.read_csv("BX_Books.csv",sep=";")
#fime2

#连接
fime3 = pd.merge(fime1,fime2,how='outer',on='ISBN')
fime3=fime3.dropna(axis=0,how="any")   #删除含有空值行
fime3['User-ID'] = fime3['User-ID'].astype('int')
#fime3

#转换数据类型
fime5=fime
fime5['User-ID']=fime5['User-ID'].str.split(';',expand=True)[0]
fime5=fime5.dropna(axis=0,how="any")   #删除含有空值行
fime5['Age']=fime5['Age'].str.extract('(\d+)', expand=False).astype(float)
fime5['User-ID'] = fime5['User-ID'].astype('int')
#fime5

#连接
fime4 = pd.merge(fime5,fime3,how='outer',on='User-ID')
fime4=fime4.dropna(axis=0,how="any")   #删除含有空值行
fime4

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,2,california,18.0,0195153448,0.0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
3,10,wisconsin,26.0,1841721522,0.0,New Vegetarian: Bold and Beautiful Recipes for...,Celia Brooks Brown,2001.0,Ryland Peters & Small Ltd,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...,http://images.amazon.com/images/P/1841721522.0...
7,20,pennsylvania,19.0,0425163091,0.0,Chocolate Jesus,Stephan Jaramillo,1998.0,Berkley Publishing Group,http://images.amazon.com/images/P/0425163091.0...,http://images.amazon.com/images/P/0425163091.0...,http://images.amazon.com/images/P/0425163091.0...
18,36,quebec,24.0,067176537X,0.0,The Therapeutic Touch: How to Use Your Hands t...,Dolores Krieger,1979.0,Fireside,http://images.amazon.com/images/P/067176537X.0...,http://images.amazon.com/images/P/067176537X.0...,http://images.amazon.com/images/P/067176537X.0...
23,42,wisconsin,17.0,0553582747,7.0,From the Corner of His Eye,Dean Koontz,2001.0,Bantam Books,http://images.amazon.com/images/P/0553582747.0...,http://images.amazon.com/images/P/0553582747.0...,http://images.amazon.com/images/P/0553582747.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
847420,278851,texas,33.0,1558531025,8.0,Life's Little Instruction Book (Life's Little ...,H. Jackson Brown,1991.0,Thomas Nelson,http://images.amazon.com/images/P/1558531025.0...,http://images.amazon.com/images/P/1558531025.0...,http://images.amazon.com/images/P/1558531025.0...
847421,278851,texas,33.0,1566910102,0.0,Oregon Handbook (The Americas Series),Stuart Warren,1995.0,Pub Group West,http://images.amazon.com/images/P/1566910102.0...,http://images.amazon.com/images/P/1566910102.0...,http://images.amazon.com/images/P/1566910102.0...
847422,278851,texas,33.0,1569661057,10.0,"Dallas Street Map Guide and Directory, 2000 Ed...",Mapsco,1999.0,American Map Corporation,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...,http://images.amazon.com/images/P/1569661057.0...
847423,278851,texas,33.0,1885071213,7.0,"Highpoint Adventures, A Pocket Guide to the 50...",Charlie Winger,1999.0,Sequoia Publishing,http://images.amazon.com/images/P/1885071213.0...,http://images.amazon.com/images/P/1885071213.0...,http://images.amazon.com/images/P/1885071213.0...
847424,278852,queensland,32.0,0449907597,8.0,Dave Barry's Only Travel Guide You'll Ever Need,Dave Barry,1992.0,Ballantine Books,http://images.amazon.com/images/P/0449907597.0...,http://images.amazon.com/images/P/0449907597.0...,http://images.amazon.com/images/P/0449907597.0...

In [3]:
#获取国家年龄在66到70的用户数据
fime4[(fime4['Age']>=66) & (fime4['Age']<=70)]
#fime4[fime4['Age']>60]

,User-ID,Location,Age,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
1228,730,new mexico,69.0,0380538504,5.0,Amanda Miranda,Richard Peck,1981.0,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0380538504.0...,http://images.amazon.com/images/P/0380538504.0...,http://images.amazon.com/images/P/0380538504.0...
1229,730,new mexico,69.0,0380754851,0.0,Moonlighting: 148 Great Ways to Make Money on ...,Carl Hausman,1991.0,Harpercollins,http://images.amazon.com/images/P/0380754851.0...,http://images.amazon.com/images/P/0380754851.0...,http://images.amazon.com/images/P/0380754851.0...
1230,730,new mexico,69.0,0385479689,0.0,Dead Men Do Tell Tales: The Strange and Fascin...,William Maples,1995.0,Main Street Books,http://images.amazon.com/images/P/0385479689.0...,http://images.amazon.com/images/P/0385479689.0...,http://images.amazon.com/images/P/0385479689.0...
2605,1535,virginia,69.0,067976402X,10.0,Snow Falling on Cedars,David Guterson,1995.0,Vintage Books USA,http://images.amazon.com/images/P/067976402X.0...,http://images.amazon.com/images/P/067976402X.0...,http://images.amazon.com/images/P/067976402X.0...
2606,1535,virginia,69.0,006017935X,7.0,Hill Towns,Anne Rivers Siddons,1993.0,Harpercollins,http://images.amazon.com/images/P/006017935X.0...,http://images.amazon.com/images/P/006017935X.0...,http://images.amazon.com/images/P/006017935X.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
845341,277563,california,66.0,1590170296,0.0,The Vet's Daughter (New York Review Books Clas...,Barbara Comyns,2003.0,New York Review of Books,http://images.amazon.com/images/P/1590170296.0...,http://images.amazon.com/images/P/1590170296.0...,http://images.amazon.com/images/P/1590170296.0...
845728,277691,north carolina,66.0,0446607657,9.0,When the Wind Blows,James Patterson,1999.0,Warner Vision,http://images.amazon.com/images/P/0446607657.0...,http://images.amazon.com/images/P/0446607657.0...,http://images.amazon.com/images/P/0446607657.0...
846157,278024,florida,67.0,0375757597,1.0,Normal Girl : A Novel,MOLLY JONG-FAST,2001.0,Villard,http://images.amazon.com/images/P/0375757597.0...,http://images.amazon.com/images/P/0375757597.0...,http://images.amazon.com/images/P/0375757597.0...
846158,278024,florida,67.0,0743203178,0.0,Nothing Like It In the World : The Men Who Bui...,Stephen E. Ambrose,2001.0,Simon & Schuster,http://images.amazon.com/images/P/0743203178.0...,http://images.amazon.com/images/P/0743203178.0...,http://images.amazon.com/images/P/0743203178.0...
847303,278807,california,66.0,0449223612,10.0,N Is for Noose,Sue Grafton,1999.0,Fawcett Books,http://images.amazon.com/images/P/0449223612.0...,http://images.amazon.com/images/P/0449223612.0...,http://images.amazon.com/images/P/0449223612.0...

In [4]:
#BX-Book-Ratings.csv表数据
fime1=pd.read_csv("BX-Book-Ratings.csv",sep=";")
fime1=fime1.dropna(axis=0,how="any")   #删除含有空值行
fime1

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [5]:
#fime1.to_csv("BX-Book-Ratings1.csv", encoding="utf-8", index=False)